.centered {
  text-align: center;
}

.description {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.ingredients {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.steps { 
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.carbonara {
  color: green;
  background-color: rgba(255, 0, 0, 0.19);
}

.fried-rice {
  color: black;
  background-color: yellow;
}

.flammekueche {
  color: rgb(255, 192, 203);
  background-color: rgb(245, 222, 179, 0.5);
}

.funny-font {
  font-family: monospace;
}